@import url('../assets/LineIcons/Pro-Regular/font-css/LineIcons.css');

@font-face {
    font-family: 'Nunito Sans';
    src: url('./assets/fonts/NunitoSans-VariableFont_YTLC.ttf') format('truetype');
    font-weight: 100 900; 
    font-style: normal;
    font-optical-sizing: auto; 
  }
  *{
    font-family: 'Nunito Sans', sans-serif;
  }
/*------------------Estilos Generales------------*/
.li-press{
    background-color: rgb(187, 52, 52);
}
body{
    background-color: #D5E4E1;
}

/*-----------CHECKLIST-----------------*/
/* Estilos generales para la lista de tareas */
.checklist {
    min-height: 400px;
    min-width: 400px;
    margin: auto;
    padding-left: 50px;
    margin-top: 30px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #8ea8a6;
    font-family: Arial, sans-serif;
    border-radius: 30px;
}

.checklist h1 {
    text-align: center;
}

.checklist .input-container {
    display: flex;
    margin-bottom: 20px;
}

.checklist input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #cfcece;
    border-radius: 12px;
    width: 100%;
    transition: border-color 0.3s ease;
}

.checklist input[type="text"]:focus {
    border-color: #ffffff;
    outline: none;
}

.checklist ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.plus {
    font-size: 12px;
    padding: 8px !important;
    border-radius: 50%;
    font-weight: bold;
    background-color: #D5E4E1 !important;
    cursor: pointer;
}
.plus:hover {
    background-color: #abb6b4 !important;


}

/* Estilos para cada tarea */
.checklist li {
    display: flex;
    align-items: center;
    padding: 18px;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    border-radius: 12px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover sobre cada tarea */
.checklist li:hover {
    background-color: #e9ecef;
    transform: scale(1.02);
}

/* Estilo para el texto de la tarea */
.checklist .task-text {
    flex: 1;
}

/* Estilo para la tarea completada */
.checklist li.completed .task-text {
    text-decoration: line-through;
    color: #aaa;
}

/* Estilo para el botón de eliminar */
.checklist .delete-button {
    margin-left: auto;
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease;
}

/* Hover sobre el botón de eliminar */
.checklist .delete-button:hover {
    color: darkred;
    text-decoration: underline;
}


/* Animación de entrada y salida para las tareas */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}
@media (max-width: 400px){
    .checklist{
        min-width: 360px;
    }
    .captusseccion {
        margin-left: 4rem !important;
    }
}

.task-enter {
    animation: fadeIn 0.3s ease;
}

.task-leave {
    animation: fadeOut 0.3s ease;
}
.task-text{
    color: #5f5e5e;
  }

/* Estilo para la entrada de edición */
.edit-task-input {
    flex: none !important;
    padding: 0px !important;
    border: none !important;
    margin-right: 0px !important;
    width: 80% !important;
    background-color:#f9f9f9;

}
.edit-task-input:focus {
    border-color: #E9ECEF !important;
    background-color:#E9ECEF; 
    outline: none !important;
}
/*modo oscuro*/
.cuerpo {
    background-color: #D5E4E1; 
    color: #000000; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    min-height: 100vh;
    margin: 0; 
  }
  

  .cuerpo.dark-mode {
    background-color: #061312; 
    color: #ffffff; 
  }
  
 
  .cuerpo.dark-mode .checklist {
    background-color: #103a36; 
    color: #e0e0e0; 
  }
  
  .cuerpo.dark-mode .checklist .task-text {
    color: #5f5e5e;
  }
  
  .cuerpo.dark-mode .checklist .edit-task-input {
    color: #5f5e5e;
  }
  
  .cuerpo.dark-mode .checklist .captusseccion {
    background-color: #b2b9b8;
  }
  
  .cuerpo.dark-mode .checklist input[type="text"] {
    color: #5f5e5e;
  }
  
  